<f:layout name="Default" />

<f:section name="AimeosHeader">
	<f:format.raw>{aiheader.basket_mini}</f:format.raw>
	<f:format.raw>{aiheader.catalog_filter}</f:format.raw>
	<f:format.raw>{aiheader.catalog_stage}</f:format.raw>
	<f:format.raw>{aiheader.catalog_list}</f:format.raw>
</f:section>

<f:section name="AimeosHead">
	<f:format.raw>{aibody.basket_mini}</f:format.raw>
</f:section>

<f:section name="AimeosNav">
	<f:format.raw>{aibody.catalog_filter}</f:format.raw>
</f:section>

<f:section name="AimeosStage">
	<f:format.raw>{aibody.catalog_stage}</f:format.raw>
</f:section>

<f:section name="AimeosBody">
	<f:format.raw>{aibody.catalog_list}</f:format.raw>
</f:section>
