<f:layout name="Default" />

<f:section name="AimeosHeader">
	<f:format.raw>{aiheader.basket_mini}</f:format.raw>
	<f:format.raw>{aiheader.account_profile}</f:format.raw>
	<f:format.raw>{aiheader.account_history}</f:format.raw>
	<f:format.raw>{aiheader.account_favorite}</f:format.raw>
	<f:format.raw>{aiheader.account_watch}</f:format.raw>
	<f:format.raw>{aiheader.catalog_session}</f:format.raw>
</f:section>

<f:section name="AimeosHead">
	<f:format.raw>{aibody.basket_mini}</f:format.raw>
</f:section>

<f:section name="AimeosBody">
	<f:format.raw>{aibody.account_profile}</f:format.raw>
	<f:format.raw>{aibody.account_history}</f:format.raw>
	<f:format.raw>{aibody.account_favorite}</f:format.raw>
	<f:format.raw>{aibody.account_watch}</f:format.raw>
</f:section>

<f:section name="AimeosAside">
	<f:format.raw>{aibody.catalog_session}</f:format.raw>
</f:section>
